<h1>Hi!</h1>

<p>
   To confirm your account
    <a href="{{ url('confirm_account', {token: Token.confirmationToken , username: username})}}">here</a>
    This link will expire in {{ tokenLifetime|date('g') }} hour(s)..
</p>
<p>
    Cheers!
</p>