{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <div class="jumbotron mt-5">
        <h1 class="display-4">Bienvenue sur le BackOffice de O'Troquet!</h1>
    </div>
{% endblock %}
