{% block body %}
    <h3>Votre compte a été banni</h3>
<p>Votre compte {{username.username}} a été banni sur O'troquet pour comportement inadapté.</p>

<p>Veuillez contacter un administrateur pour plus d'informations.</p>
{% endblock %}